<header>
  
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  
  <section class="is-hero">
    <p class="is-title"><a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></p>
    <p class="is-subtitle">
      {% if page.title %}
        {{ page.title }}
      {% else %}
        Hem
      {% endif %}
    </p>
  </section>

  <!-- <section class="hero is-small is-info">
    <div class="hero-body">
      <p class="is-title"><a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></p>
      <p class="subtitle">
        {% if page.title %}
          {{ page.title }}
        {% else %}
          Hem
        {% endif %}
      </p>
    </div>
  </section> -->

  <section class="navbar is-primary">
    <div class="navbar-menu">
      <a class="navbar-item"href="{{ my_page.url }}">Hem</a>
      {%- if titles_size > 0 -%}
        {% assign sorted_pages = page_paths | sort: "title" %}
        {%- for path in sorted_pages -%}
          {%- if my_page.top == true -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <a class="navbar-item"href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </section>

</header>
