$color-background: #DDDDDD;
$color-head-primary: #3A0CA3;
/*$color-head-secondary: #3A0CA3;
$color-main: #4361EE;*/
$color-head-secondary: #4361EE;
$color-main: #EEEEEE;
$color-foot: #4CC9F0;
$color-headlines: #7209B7;
$color-links: #F72585;
$color-text-bright: #dddddd;
$color-text-dark: #222222;
