
main {
  background-color:$color-main;
  font-weight: bold;
  color:$color-text-dark;
  width: 100%;
  
  h1 {
    font-size: 24px;  
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  h5 {
    font-size: 12px;
  }
  
  h6 {
    font-size: 11px;
  }
  
}
