/* CSS Override Fixes  */

* {
    box-sizing: border-box;
}

/* Main Website */
.has-centered-children {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.has-centered-children > * {
    max-width: 1024px;
}

/* Testing */
.testar {
    color: red;
}