/* CSS Override Fixes  */

* {
    box-sizing: border-box;
}

/* Main Website */

.has-centered-children {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.has-centered-children > * {
    max-width: 1024px;
}



/* Text */

.is-hero {
    padding: 16px 16px 16px 16px;
}

.has-hero-background {
    background: repeating-linear-gradient(
        -55deg,
        #888888,
        #888888 10px,
        #BBBBBB 10px,
        #BBBBBB 20px
      );
}

.is-title {
    text-transform: uppercase;
    background-image: linear-gradient(45deg, white, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 42px;
    font-weight: bold;
}

.is-subtitle {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


/* Testing */

.testar {
    color: red;
}