/* Imports */
@import 'standard';
@import 'colors';
@import 'content';
@import 'footer';


/* CSS Override Fixes  */

* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    background-color: $color-background;
}

/* Main Website */

.has-centered-children {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.has-centered-children > * {
    max-width: 1024px;
}

main {
  flex: 1 1 auto;
  width: 100%;
}

header, footer {
  width: 100%;
}

/* Text */

header {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  
  .is-hero {
    padding: 16px 16px 16px 16px;
    background-color: $color-head-primary;
  }
  
  .navbar {
    background-color $color-head-secondary;
  }
  
  .is-title {
    font-size: 36px;
  }

  .is-subtitle {
    font-size: 24px;    
  }
}

/* Testing */

.testar {
    color: red;
}
