---
layout: default
---
<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ comment }}
        {{ content }}
    {{ endcomment }}

    {% if site.paginate %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    POSTS BELOW

    {%- if posts.size > 0 -%}     
        {%- if page.list_title -%}<h2 class="post-list-heading">{{ page.list_title }}</h2>{%- endif -%}
        
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
        {%- for post in posts -%}
        <div class="card">
            <a class="post-link" href="{{ post.url | relative_url }}">
                <header class="card-header">
                    <p class="card-header-title">{{ post.title | escape }}</p>
                    <p class="subtitle">{{ post.author | escape }}</p>
                </header>
                {%- if site.show_excerpts -%}
                    <div class="card-content">
                        <div class="content">
                            {{ post.excerpt }}      
                        </div>
                    </div>
                {%- endif -%}    
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            {{ post.date | date: date_format }}
                        </span>
                    </p>
                </footer>
            </a>
        </div>
        {%- endfor -%} 
    {%- endif -%}

    PAGES BELOW

    {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
                {%- else %}
                    <li><div class="pager-edge">•</div></li>
                {%- endif %}

                <li><div class="current-page">{{ paginator.page }}</div></li>
                
                {%- if paginator.next_page %}
                    <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
                {%- else %}
                    <li><div class="pager-edge">•</div></li>
                {%- endif %}
            </ul>
        </div>
    {%- endif %}
    
    HOME FINISHED

</div>